@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.container {
  width: 700px;
  height: 400px;
  position: relative;
  left: 610px;
  border-radius: 7px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

h1 {
  margin: 0;
  margin-left: 30px;
  margin-top: 30px;
  line-height: 10px;
}

.first-p {
  margin: 0;
  margin-left: 30px;
  line-height: 60px;
}

.time-box {
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);
  height: 60px;
  width: 80px;
  position: absolute;
  right: 20px;
  top: 20px;
  display: flex;
  justify-content: center;
  border-radius: 7px;
}

.time {
  position: relative;
  top: -4px;
  font-size: 20px;
  letter-spacing: 1px;
}

.textarea {
  position: absolute;
  left: 30px;
  margin: 0;
  width: 645px;
  height: 270px;
  border-radius: 7px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  background-color: transparent;
}

.textarea::placeholder {
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.textarea:focus {
  outline: none;
}

.info-container {
  width: 700px;
  position: relative;
  left: 610px;
  border-radius: 7px;
  margin-top: 7px;
}

.info-box {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  margin: 0;
  border-radius: 7px;
  margin-bottom: 10px;
  display: flex;
  height: 45px;
  position: relative;
}

.min {
  margin: 0;
  position: absolute;
  top: 9px;
  left: 10px;
}

.sentence {
  margin: 0;
  position: absolute;
  top: 9px;
  width: 100px;
  left: 300px;
}

.words {
  margin: 0;
  position: absolute;
  top: 9px;
  right: 10px;
}

.text-box-to-write {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  height: 400px;
  position: absolute;
  top: 265px;
  left: 100px;
  border-radius: 7px;
}

.h1-to-write {
  margin: 0;
  margin-top: 40px;
  margin-left: 40px;
}

.text-to-write {
  width: 275px;
  margin: 0;
  margin-top: 40px;
  margin-left: 30px;
  line-height: 40px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 7px;
}

/* right and wrong */

.after-right-word-container {
  position: absolute;
  left: 100px;
  top: 10px;
  width: 850px;
  height: 200px;
  display: flex;
}

.after-right-word {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 840px;
  margin-right: 20px;
}

.text-right-word {
  margin: 0;
  margin-top: 20px;
  margin-left: 33px;
  margin-right: 33px;
  letter-spacing: 2px;
  line-height: 35px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.after-wrong-word-container {
  position: absolute;
  right: 100px;
  top: 10px;
  width: 850px;
  height: 200px;
  display: flex;
}

.after-wrong-word {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 7px;
  width: 840px;
}

.text-wrong-word {
  margin: 0;
  margin-top: 20px;
  margin-left: 33px;
  margin-right: 33px;
  letter-spacing: 2px;
  line-height: 35px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}
/* hyphens: auto; */

.wave {
  position: absolute;
  z-index: -1;
  bottom: 0;
  transform: scale(3);
}

.closed-container {
  display: none;
}

/* buttons */

.btn-container {
  height: 50px;
  width: 450px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  left: 735px;
}

.btn {
  width: 100px;
  height: 50px;
  border: none;
  background-color: #0099ff;
  border-radius: 7px;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
}

.clicked {
  display: none;
}
